:root {
    --primary-color: #ffffff;
    --secondary-color: #d50b0b;
    --complimentary-color: #000000;
    --contrast-color: #08a202;
    --close-color: #c70707;
	--light-color:#d8d8d1;
}

header{

}

footer{

}

h1{

}

h2{

}

h3{

}

h4{

}

p{

}

.myLogo{

}

.intro{

}

section{

}

.info{

}

.welcome{

}

.myName{

}

.occupation{

}

.typing{

}

.logo{

}

.navigate{

}

.navBtn{

}


.credits{

}

.assetSources{

}

.DaOu{

}

.keyboard{

}

.monitor{

}

.lanyard{

}

.contact{

}

.infoCard{

}

.personalInfo{

}

.skillsCard{

}

.skill{

}

.skillName{

}

.skillIcon{

}

.projectsCont{

}

.projectOptions{

}


.selectType{

}

.appCard{

}

.appPic{

}

.appDesc{

}

.appLinks{

}

.getIntouch{

}

.contactOptions{

}

.contactBtn{
	
}