*{
	overflow-x: "hidden";
}


/*
https://www.linkedin.com/in/jabulani-sifundza
https://github.com/JabulaniSifundza
*/

:root {
    --primary-color: #ffffff;
    --secondary-color: #d50b0b;
    --complimentary-color: #000000;
    --contrast-color: #08a202;
    --close-color: #c70707;
	--light-color:#d8d8d1;
}

Loader{
	height: 100vh;
}

header{
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	border: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

h2{
	text-align: center;
}

.navigate{
	background-color: #FFFFFF;
	padding-bottom: 0;
}

.navBtn{
	width: 100px;
	height:80px;
	color: var( --complimentary-color);
	background-color: #FFFFFF;
	border: none;
	cursor: pointer;
}

.navBtn:after{
	display:block;
	content: '';
	border-bottom: solid 3px var(--secondary-color);  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	margin-top: 10px;
}

.navBtn:hover:after,
.navBtn:focus:after,
.navBtn:active:after{ 
	transform: scaleX(1); 
}


Canvas{
	width: 100%;
	height: 640px;
}

.lanyard{
	width: 100%;
	height: 400px;

}

.introduction{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.intro{
	margin-top: 200px;
	justify-self: center;
	
	
}

.info{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.content {
	width: 200px;
	height: 300px;
	background: #edeaea;
	border-radius: 3px;
	overflow-y: hidden;
	padding: 0;
	overflow-x: hidden;
	margin-top: 20px;
	border-radius: 12px;
}
  
.wrapper {
padding: 10px;
width: 200px;
height: 432px;
transform: scale(1.2);
transform-origin: top left;
overflow-x: hidden;
}

.keyboard{
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.skills{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.projects{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.projectCards{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.contact{
	width: 100%;	
}

img{
	width: 30px;
	height: 30px;
}

svg{
	width: 30px;
	height: 30px;
}

.xp{
	position: absolute;
	margin-top: 3px;
	background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d50b0b;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M24,21.75a8.07,8.07,0,0,0,6-2.48,8.3,8.3,0,0,0,2.45-6.07V6.85H15.55V13.2A8.3,8.3,0,0,0,18,19.27,8.07,8.07,0,0,0,24,21.75ZM7.1,44.8V41.15h4.8v-6.4a12.35,12.35,0,0,1,1.7-6.35A11.09,11.09,0,0,1,18.3,24a11.39,11.39,0,0,1-4.7-4.45,12.35,12.35,0,0,1-1.7-6.35V6.85H7.1V3.2H40.9V6.85H36.1V13.2a12.35,12.35,0,0,1-1.7,6.35A11.39,11.39,0,0,1,29.7,24a11.09,11.09,0,0,1,4.7,4.4,12.35,12.35,0,0,1,1.7,6.35v6.4h4.8V44.8Z'/%3E%3C/svg%3E");
}

.lanImage{
	margin-left: auto;
	margin-right: auto;
}

.lanyardLinks{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 70%;
	margin-left: 25px;
}

.platformIcon{
	cursor: pointer;
}

.lanyardMe{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-left: 38px;
	
}

.lanyardText{
	font-size: 14px;
}

.skillsCard{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 40px;
	box-shadow: rgba(213, 11, 11, 0.4) -5px 5px, rgba(213, 11, 11,  0.3) -10px 10px, rgba(213, 11, 11,  0.2) -15px 15px, rgba(213, 11, 11,  0.1) -20px 20px, rgba(213, 11, 11,  0.05) -25px 25px;

}

.skillsHolder{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 30px;
	margin-top: 25px;
	gap: 2rem;
}

.skillIcon{
	width: 82px;
	height: 82px;
}
.infoCard{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-right: 30px;
	box-shadow: rgba(213, 11, 11, 0.4)  5px 5px, rgba(213, 11, 11, 0.3)  10px 10px, rgba(213, 11, 11, 0.2)  15px 15px, rgba(213, 11, 11, 0.1) 20px 20px, rgba(213, 11, 11, 0.05) 25px 25px;
	
}

.personalInfo{
	width: 98%;

}

.myLogo{
	width: 180px;
	height: 90px;

}

.appCard{
	width: 90%;
	padding: 2rem;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.carousel{
	width: 100%;
	margin-left: 0px
}

.carousel-button-group{
	position: absolute;
	width: 100%;
	top: 40%;
}

.nextBtn{
	position: absolute;
	z-index: 2;
	top: 5%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	border-radius: 24px;
	background-color: transparent;
	right: 1%;
	border: none;
	cursor: pointer;
}

.prevBtn{
	position: absolute;
	z-index: 2;
	top: 5%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	border-radius: 24px;
	background-color: transparent;
	border: none;
	left: -2px;
	cursor: pointer;
}

.projectsContainer{
	margin-top: 40px;
}

.appPic{
	width: 180px;
	height: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.designPic{
	width: 320px;
	height: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.appDesc{
	font-size: 20px;
}

.projectName{
	font-size: 30px;
	display: block;
	text-align: center;
}

.titleDiv{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.projectOptions{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
.sectionTitle{
	text-align: center;
}

.selectType{
	border-radius: 12px;
	width: 120px;
	height: 60px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	margin: 12px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.selectType:hover,
.selectType:active{
	background-color: var(--complimentary-color);
}

.nextArrow{
	background-repeat: no-repeat;
	width: 40px;
	height: 48px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M13.65 42.6q-.6-.65-.625-1.55-.025-.9.625-1.55l15.6-15.6-15.6-15.6q-.6-.6-.625-1.525Q13 5.85 13.65 5.2q.6-.65 1.525-.675.925-.025 1.575.625L34.3 22.7q.25.3.375.575.125.275.125.625t-.125.625q-.125.275-.375.575L16.75 42.65q-.6.6-1.525.6-.925 0-1.575-.65Z'/%3E%3C/svg%3E");
}

.prevArrow{
	width: 40px;
	height: 48px;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' width='48'%3E%3Cpath d='M18.75 42.75 1.2 25.2q-.3-.3-.4-.575Q.7 24.35.7 24t.1-.625q.1-.275.4-.575L18.75 5.25q.6-.6 1.525-.6.925 0 1.575.6.65.65.65 1.575 0 .925-.65 1.575L6.2 24l15.65 15.6q.65.65.625 1.575-.025.925-.625 1.525-.65.65-1.575.65-.925 0-1.525-.6Z'/%3E%3C/svg%3E");
	
}
.projectsCont{
	width: 100%;
	box-shadow: rgba(213, 11, 11, 0.4) 5px 5px, rgba(213, 11, 11, 0.3) 10px 10px, rgba(213, 11, 11, 0.2) 15px 15px, rgba(213, 11, 11, 0.1) 20px 20px, rgba(213, 11, 11, 0.05) 25px 25px;

}
.appLinks{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: auto;
	margin-right: auto;

}

.appLink1{
	border-radius: 12px;
	text-decoration: none;
	align-self: end;
	justify-self: start;
	background-color: var(--complimentary-color);
	color: var(--primary-color);
	width: 120px;
	height: 38px;
	text-align: center;
	padding-top: 10px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.appLink2{
	border-radius: 12px;
	text-decoration: none;
	align-self: end;
	justify-self: end;
	background-color: var(--complimentary-color);
	color: var(--primary-color);
	width: 120px;
	height: 38px;
	text-align: center;
	padding-top: 10px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.appLink2:hover,
.appLink2:active{
	background-color: var(--secondary-color);

}

.appLink1:hover,
.appLink1:active{
	background-color: var(--secondary-color);
}

.prototypeDemo{
	display: flex;
	justify-content: center;
}

.prototypeLink{
	border-radius: 12px;
	text-decoration: none;
	background-color: var(--complimentary-color);
	color: var(--primary-color);
	width: 120px;
	height: 38px;
	text-align: center;
	padding-top: 10px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.prototypeLink:hover,
.prototypeLink:active{
	background-color: var(--secondary-color);
}

.contactDetails{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 100px;
	margin-bottom: 5px;
	box-shadow: rgba(213, 11, 11, 0.4) 0px 0px 0px 5px, rgba(213, 11, 11, 0.3) 0px 0px 0px 10px, rgba(213, 11, 11, 0.2) 0px 0px 0px 15px, rgba(213, 11, 11, 0.1) 0px 0px 0px 20px, rgba(213, 11, 11, 0.05) 0px 0px 0px 25px;
}

.centered{
	text-align: center;
}

.contactOptions{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

.contactBtn{
	border: none;
	cursor: pointer;
	border-radius: 12px;
	width: 240px;
	height: 60px;
	background-color: var(--complimentary-color);
	color: var(--primary-color);
	margin: 28px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contactBtn:hover,
.contactBtn:active{
	background-color: var(--secondary-color);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 200px;
}
footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--complimentary-color);
	color: var(--primary-color);

}

h1{

}

h2{

}

h3{

}

h4{

}

p{

}



section{

}


.welcome{

}

.myName{

}

.occupation{

}

.typing{

}

.logo{

}




.credits{

}

.assetSources{

}

.DaOu{

}


.monitor{

}

.lanyard{

}




.skillsCard{

}

.skill{

}

.skillName{

}

.skillIcon{

}






.getIntouch{

}


