*{
	overflow-x: "hidden";

}

/*
https://www.linkedin.com/in/jabulani-sifundza
https://github.com/JabulaniSifundza
*/

:root {
    --primary-color: #ffffff;
    --secondary-color: #d50b0b;
    --complimentary-color: #000000;
    --contrast-color: #08a202;
    --close-color: #c70707;
	--light-color:#d8d8d1;
}

Loader{
	height: 100vh;
}

header{
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	border: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

h2{
	text-align: center;
}

.navigate{
	background-color: #FFFFFF;
	padding-bottom: 0;
}

.navBtn{
	width: 100px;
	height:80px;
	color: var( --complimentary-color);
	background-color: #FFFFFF;
	border: none;
	cursor: pointer;
}

.navBtn:after{
	display:block;
	content: '';
	border-bottom: solid 3px var(--secondary-color);  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	margin-top: 10px;
}

.navBtn:hover:after,
.navBtn:focus:after,
.navBtn:active:after{ 
	transform: scaleX(1); 
}


Canvas{
	width: 100%;
	height: 640px;
}

.lanyard{
	width: 100%;
	height: 400px;

}

.introduction{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.intro{
	margin-top: 200px;
	justify-self: center;
	
	
}

.info{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.content {
	width: 200px;
	height: 300px;
	background: #edeaea;
	border-radius: 3px;
	overflow-y: hidden;
	padding: 0;
	overflow-x: hidden;
	margin-top: 20px;
	border-radius: 12px;
}
  
.wrapper {
padding: 10px;
width: 200px;
height: 432px;
transform: scale(1.2);
transform-origin: top left;
overflow-x: hidden;
}

.keyboard{
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.skills{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.projects{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact{
	width: 50%;
	
	
}

img{
	width: 30px;
	height: 30px;
}

svg{
	width: 30px;
	height: 30px;
}

.lanImage{
	margin-left: auto;
	margin-right: auto;
}

.lanyardLinks{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 70%;
	margin-left: 25px;
}

.platformIcon{
	cursor: pointer;
}

.lanyardMe{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-left: 38px;
	
}

.lanyardText{
	font-size: 14px;
}

.skillsCard{
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 40px;
	box-shadow: rgba(213, 11, 11, 0.4) -5px 5px, rgba(213, 11, 11,  0.3) -10px 10px, rgba(213, 11, 11,  0.2) -15px 15px, rgba(213, 11, 11,  0.1) -20px 20px, rgba(213, 11, 11,  0.05) -25px 25px;

}

.skillsHolder{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 30px;
	margin-top: 25px;
	gap: 2rem;
}

.skillIcon{
	width: 82px;
	height: 82px;
}
.infoCard{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-right: 30px;
	box-shadow: rgba(213, 11, 11, 0.4) 5px 5px, rgba(213, 11, 11, 0.3) 10px 10px, rgba(213, 11, 11, 0.2) 15px 15px, rgba(213, 11, 11, 0.1) 20px 20px, rgba(213, 11, 11, 0.05) 25px 25px;
	
}

.personalInfo{
	width: 98%;

}

footer{

}

h1{

}

h2{

}

h3{

}

h4{

}

p{

}

.myLogo{

}


section{

}


.welcome{

}

.myName{

}

.occupation{

}

.typing{

}

.logo{

}




.credits{

}

.assetSources{

}

.DaOu{

}


.monitor{

}

.lanyard{

}




.skillsCard{

}

.skill{

}

.skillName{

}

.skillIcon{

}

.projectsCont{

}

.projectOptions{

}


.selectType{

}

.appCard{

}

.appPic{

}

.appDesc{

}

.appLinks{

}

.getIntouch{

}

.contactOptions{

}

.contactBtn{
	
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 200px;
   
  }
